<header>
  <!-- <img src="assets/images/logo.png" alt="Logo Rick and Morty" class="logo" /> -->
  <img [src]="logoPath" [alt]="logoAlt" />

  <div class="right_actions">
    <a
      [ngClass]="
        currentRoute == '/home' || currentRoute === '/'
          ? 'home_selected'
          : 'home_unselected'
      "
      href="/home"
    >
      <mat-icon class="icon">home</mat-icon>
      {{ "global.home" | translate }}
    </a>
    <a
      [ngClass]="
        currentRoute == '/favorites'
          ? 'favorite_selected'
          : 'favorite_unselected'
      "
      href="/favorites"
    >
      <mat-icon class="icon">favorite</mat-icon>
      {{ "global.favorites" | translate }}
      <div class="favoties_count">{{ favoritesCounter }}</div>
    </a>

    <button (click)="translatePage()" class="button-lang">
      <span>{{ currentLang }}</span>
    </button>
  </div>
</header>
