header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: var(--black);

  .logo {
    height: 50%;
    display: flex;
  }

  .right_actions {
    display: flex;
    align-items: center;

    a:hover {
      cursor: pointer;
      opacity: 0.9;
    }
  }

  .icon {
    fill: var(--black);
  }
}

.favoties_count {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border-radius: 100px;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.home_selected {
  display: flex;
  align-items: center;
  justify-content: end;
  text-decoration: none;
  gap: 4px;
  padding: 10px;
  border: 1.5px solid var(--gray);
  border-radius: 15px 0px 0px 15px;
  font-size: 0.9rem;
  font-weight: 600;

  background-color: var(--white);
  color: var(--black);
}

.home_unselected {
  display: flex;
  align-items: center;
  justify-content: end;
  text-decoration: none;
  gap: 4px;
  padding: 10px;
  border: 1.5px solid var(--gray);
  border-radius: 15px 0px 0px 15px;
  font-size: 0.9rem;
  font-weight: 600;

  background-color: transparent;
  color: var(--gray);
}

.favorite_selected {
  display: flex;
  align-items: center;
  justify-content: start;
  text-decoration: none;
  gap: 4px;
  padding: 10px;
  border: 1.5px solid var(--gray);
  border-radius: 0 15px 15px 0;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: var(--white);
  color: var(--black);

  .favoties_count {
    background-color: var(--black);
    color: var(--white);
  }
}

.favorite_unselected {
  display: flex;
  align-items: center;
  justify-content: start;
  text-decoration: none;
  gap: 4px;
  padding: 10px;
  border: 1.5px solid var(--gray);
  border-radius: 0 15px 15px 0;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: transparent;
  color: var(--gray);

  .favoties_count {
    background-color: var(--white);
    color: var(--black);
  }
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .right_actions {
    width: 100%;
  }

  a {
    width: 100%;
  }
}
