<header>
  <!-- <img src="assets/images/logo.png" alt="Logo Rick and Morty" class="logo" /> -->
  <img [src]="logoPath" [alt]="logoAlt" />

  <div class="right_actions">
    <a class="button_home" href="/home">
      <span class="material-icons">home</span>
      <i class="fa-solid fa-house"></i>
      Início
    </a>
    <a class="button_favorites" href="/favorites">
      <span class="material-icons">favorite</span>
      <i class="fa-solid fa-house"></i>
      Favoritos
      <div class="favoties_count">3</div>
    </a>
  </div>
</header>
