main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100vw;
  height: 100%;

  .word {
    display: flex;
    font-size: 3rem;
    font-weight: bold;
    font-family: "Creepster", sans-serif;
    color: var(--green);
    text-shadow: -1px -1px 5px var(--lemon), 1px -1px 5px var(--lemon),
      -1px 1px 5px var(--lemon), 1px 1px 5px var(--lemon);
  }

  .favorite_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .favorite_content {
    background-color: var(--black);
    border-radius: 20px;
    padding: 20px;
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      color: var(--white);
      margin-bottom: 20px;
      font-weight: 600;
      font-size: 1.8rem;
      text-align: center;
    }

    p {
      color: var(--gray);
      font-weight: 400;
      font-size: 1rem;
    }

    a {
      background-color: var(--white);
      border-radius: 17px;
      padding: 15px 30px;
      border: none;
      font-size: 1rem;
      font-weight: 600;
      margin-top: 30px;
      text-decoration: none;
      color: var(--black);

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .favorite_cards {
    border-radius: 20px;
    padding: 20px;
    width: 70%;
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: 40px;

    app-card {
      flex: 1 1 calc(33.33% - 40px); /* 3 cards per line, considering the gap */
      max-width: calc(
        33.33% - 40px
      ); /* Ensure that they do not exceed 3 cards */
    }
  }
}

@media (max-width: 1024px) {
  .favorite_cards app-card {
    flex: 1 1 calc(50% - 40px) !important;
    max-width: calc(50% - 40px) !important;
  }
}

@media screen and (max-width: 768px) {
  main {
    .favorite_header {
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .favorite_content {
      width: 90%;

      h3 {
        font-size: 1.5rem;
      }

      p {
        font-size: 0.8rem;
      }

      a {
        font-size: 0.8rem;
        padding: 13px 27px;
      }
    }

    .favorite_cards app-card {
      flex: 1 1 90% !important;
      max-width: 90% !important;
    }
  }
}
