<main>
  <div class="favorite_header">
    <!-- <img [src]="favoritesPath" [alt]="favoritesAlt" /> -->
    <span class="word">{{ "global.favorites" | translate }}</span>
  </div>

  @if (items.length <= 0) {
  <div class="favorite_content">
    <h3>{{ "global.noFavorites" | translate }}</h3>
    <p>{{ "global.noFavoritesSubtitle" | translate }}</p>
    <a href="/home">{{ "global.goBackHome" | translate }}</a>
  </div>
  } @if (items.length > 0) {
  <div class="favorite_cards">
    @for (item of items; track item) {
    <app-card [character]="item"></app-card>
    }
  </div>
  }
</main>
