main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100vw;
  height: 100%;

  .word {
    display: flex;
    font-size: 3rem;
    font-weight: bold;
    font-family: "Creepster", sans-serif;
    color: var(--green);
    text-shadow: -1px -1px 5px var(--lemon), 1px -1px 5px var(--lemon),
      -1px 1px 5px var(--lemon), 1px 1px 5px var(--lemon);
  }

  .home_header {
    width: 65%;

    .top_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .input {
        margin-top: 10px;
        width: 40%;
      }
    }

    .pagination {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 20px 2px;
      font-size: 1.2rem;
      color: var(--gray);

      button {
        padding: 20px 20px;
        border: 1px solid var(--dark);
        border-radius: 15px;
        background: transparent;
        color: var(--gray);
        font-size: 1.1rem;

        &:hover {
          opacity: 0.7;
          cursor: pointer;
        }
      }
    }
  }

  .home_content {
    background-color: var(--black);
    border-radius: 20px;
    padding: 10px;
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      color: var(--white);
      margin-bottom: 20px;
      font-weight: 600;
      font-size: 1.8rem;
    }

    p {
      color: var(--gray);
      font-weight: 400;
      font-size: 1rem;
    }
  }

  .home_cards {
    border-radius: 20px;
    padding: 20px;
    width: 70%;
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: 40px;

    app-card {
      flex: 1 1 calc(33.33% - 40px); /* 3 cards per line, considering the gap */
      max-width: calc(
        33.33% - 40px
      ); /* Ensure that they do not exceed 3 cards */
    }
  }
}

@media (max-width: 1024px) {
  .home_cards app-card {
    flex: 1 1 calc(50% - 40px) !important;
    max-width: calc(50% - 40px) !important;
  }
}

@media screen and (max-width: 768px) {
  main {
    .top_header {
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .input {
        width: 90%;
      }
    }

    .home_content {
      width: 90%;
    }

    .home_cards app-card {
      flex: 1 1 90% !important;
      max-width: 90% !important;
    }
  }
}
